{% extends 'events/base.html' %}

{% block content %}

<section class="container-md py-3">
    <h4>Organizers</h4>
    <p><small>The list below shows all organizer accounts you have administrative access to.</small></p>
    <div class="mb-4 mt-2 border">
        <h5 class="bg-light p-3" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Create Organizers <i class="bi bi-arrow-down rotate-180"></i></h5>
        <form method="post" action="{% url 'organizers-masters' %}" class="p-4 collapse multi-collapse" id="multiCollapseExample1">{% csrf_token %}
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <h4>Whose events are you running?</h4>
                    <p class="lead">
                        Please tell us the name of the company, association or institution that
                        you want to sell tickets for.
                    </p>
                    <div class="form-group mb-3">
                        <label class="form-label" for="id_organame">Organizer name</label>
                        <input type="text" name="organizer_name" maxlength="200" class="form-control" placeholder="Company name, association, institution, ..." title="" required="" id="id_organame">
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" for="id_orgaslug">Address short form</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ request.scheme }}://{{ request.get_host }}/</span>
                            </div>
                            <input type="text" name="organizer_slug" maxlength="32" minlength="2" class="form-control" placeholder="Address short form" title="This will be the URL your events can be found at. We will also use this as an abbreviation of your account in some other places. If you want to use a custom domain, that is totally possible. Just proceed for now and contact us once you are registered!" required="" id="id_orgaslug">
                        </div>
                        <small class="form-text text-muted">This will be the URL your events can be found at. We will also use this as an abbreviation of your account in some other places. If you want to use a custom domain, that is totally possible. Just proceed for now and contact us once you are registered!</small>
                    </div>
                    <div class="form-group mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="privacy" required="" id="id_privacy">
                            <label class="form-check-label" for="id_privacy">
                                I have read and agree with the <a target="_blank" href="/about/en/privacy">privacy policy</a>.
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="terms" required="" id="id_terms">
                            <label class="form-check-label" for="id_terms">
                                I have read and agree with the <a target="_blank" href="/about/en/terms">terms of service</a>.
                            </label>
                        </div>
                    </div>
                    <p class="lead">
                        <strong>
                            Please note that we only offer our services to businesses and similar entities, not to consumers
                            or end-users.
                        </strong>
                    </p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>
                Create a new organizer
            </button>
        </form>
    </div>

    <div class="container p-0">
        <table id="table" data-pagination="true" data-search="true" data-show-columns="true" data-advanced-search="true"
            data-id-table="advancedTable" data-side-pagination="server"
            data-url="http://localhost:8000/api/user-info/organizers/">
            <thead>
                <tr>
                    <th data-field="id" data-sortable="true">ID</th>
                    <th data-field="organizer_name" data-sortable="true">Organizer Name</th>
                    <th data-field="organizer_slug" data-sortable="true">
                        <i class="fa fa-star"></i> Organizer Slug
                    </th>
                </tr>
            </thead>
        </table>
    </div>

</section>

{% endblock %}

{% block script %}
<script>
    $(function () {
        $('#table').bootstrapTable()
    })
</script>

{% endblock %}