<!-- Sidebar -->
<div id="sidebar" class="sidebar bg-dark pt-5" style="height: 100vh;">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <i class="bi bi-house"></i>
                <span class="sidebar-text">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-gear"></i>
                <span class="sidebar-text">Settings</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-person"></i>
                <span class="sidebar-text">Profile</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span class="sidebar-text">Logout</span>
            </a>
        </li>
    </ul>
</div>